@model VesalBahar.Core.ViewModels.Articles.ArticleCreateOrEditVm

@{
    ViewData["Title"] = (Model.Id == 0 ? "افزودن" : $"ویرایش {Model.Title}");
}

<h2>@ViewData["Title"]</h2>

<h4>مقالات</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="@(Model.Id == 0 ? "Create" : "Edit")" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" autocomplete="off" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupId" class="control-label"></label>
                <select asp-for="GroupId" asp-items="ViewBag.Groups" class="form-control"></select>
                <span asp-validation-for="GroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" />
                <img id="imgPreview" src="@Model.ImageFullName" class="img-thumbnail mt-4" width="100" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>



            @if (Model.Id != 0)
            {
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <input type="submit" value="ویرایش" class="btn btn-warning" />
                </div>
            }
            else
            {
                <div class="form-group">
                    <input type="submit" value="افزودن" class="btn btn-success" />
                </div>
            }

        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-default">بازگشت به فهرست</a>
</div>

@section Scripts {
    <script>
        ClassicEditor
            .create(document.querySelector('#Description'))
            .catch(error => {
                console.error(error);
            });


        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imgPreview').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            } else {
                alert('select a file to see preview');
                $('#imgPreview').attr('src', '');
            }
        }

        $("#ImageFile").change(function () {
            readURL(this);
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
