<!DOCTYPE html>
<!--
BeyondAdmin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.6
Version: 1.6.0
Purchase: https://wrapbootstrap.com/theme/beyondadmin-adminapp-angularjs-mvc-WB06R48S4
-->

<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Head -->
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>

    <meta name="description" content="Dashboard" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <partial name="_AdminStyle" />
</head>
<!-- /Head -->
<!-- Body -->
<body>
    <!-- Loading Container -->
    <div class="loading-container">
        <div class="loader"></div>
    </div>
    <!--  /Loading Container -->
    <!-- Navbar -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="navbar-container">
                <!-- Navbar Barnd -->
                <div class="navbar-header pull-right">
                    <a href="#" class="navbar-brand">
                        <small>
                            <img src="/Admin/img/logo-rtl.png" alt="" />
                        </small>
                    </a>
                </div>
                <!-- /Navbar Barnd -->
                <!-- Sidebar Collapse -->
                <div class="sidebar-collapse" id="sidebar-collapse">
                    <i class="collapse-icon fa fa-bars"></i>
                </div>
                <!-- /Sidebar Collapse -->
                <!-- Account Area and Settings --->
                <div class="navbar-header pull-left">
                    <div class="navbar-account">
                        <!--<ul class="account-area">
                            <li>
                                <a class=" dropdown-toggle" data-toggle="dropdown" title="Help" href="#">
                                    <i class="icon fa fa-warning"></i>
                                </a>-->
                        <!--Notification Dropdown-->
                        <!--<ul class="pull-right dropdown-menu dropdown-arrow dropdown-notifications">
                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <div class="notification-icon">
                                            <i class="fa fa-phone bg-themeprimary white"></i>
                                        </div>
                                        <div class="notification-body">
                                            <span class="title">ملاقات در اسکایپ با علی</span>
                                            <span class="description">01:00 بعد از ظهر</span>
                                        </div>
                                        <div class="notification-extra">
                                            <i class="fa fa-clock-o themeprimary"></i>
                                            <span class="description">دفتر</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <div class="notification-icon">
                                            <i class="fa fa-check bg-darkorange white"></i>
                                        </div>
                                        <div class="notification-body">
                                            <span class="title">استراحت پیش بینی نشده</span>
                                            <span class="description">03:30 pm - 05:15 pm</span>
                                        </div>
                                        <div class="notification-extra">
                                            <i class="fa fa-clock-o darkorange"></i>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <div class="notification-icon">
                                            <i class="fa fa-gift bg-warning white"></i>
                                        </div>
                                        <div class="notification-body">
                                            <span class="title">تولد مهرام</span>
                                            <span class="description">08:30 pm</span>
                                        </div>
                                        <div class="notification-extra">
                                            <i class="fa fa-calendar warning"></i>
                                            <i class="fa fa-clock-o warning"></i>
                                            <span class="description">خانه</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <div class="notification-icon">
                                            <i class="fa fa-glass bg-success white"></i>
                                        </div>
                                        <div class="notification-body">
                                            <span class="title">شام با دوستان</span>
                                            <span class="description">10:30 pm</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-footer ">
                                <span>
                                    امروز، 14 تیر
                                </span>
                                <span class="pull-left">
                                    10°c
                                    <i class="wi wi-cloudy"></i>
                                </span>
                            </li>
                        </ul>-->
                        <!--/Notification Dropdown-->
                        <!--</li>
                        <li>
                            <a class="dropdown-toggle" data-toggle="dropdown" title="Mails" href="#">
                                <i class="icon fa fa-envelope"></i>
                                <span class="badge">3</span>
                            </a>-->
                        <!--Messages Dropdown-->
                        <!--<ul class="pull-right dropdown-menu dropdown-arrow dropdown-messages">
                            <li>
                                <a href="#">
                                    <img src="/Admin/img/avatars/divyia.jpg" class="message-avatar" alt="Divyia Austin">
                                    <div class="message">
                                        <span class="message-sender">
                                            دیویا فیلیپس
                                        </span>
                                        <span class="message-time">
                                            2 دقیقه پیش
                                        </span>
                                        <span class="message-subject">
                                            دستور پخت پای سیب ارسال می گردد
                                        </span>
                                        <span class="message-body">
                                            برای پختن پای سیب تنها لازم است تا سیب داشته باشید
                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/Admin/img/avatars/bing.png" class="message-avatar" alt="Microsoft Bing">
                                    <div class="message">
                                        <span class="message-sender">
                                            Bing.com
                                        </span>
                                        <span class="message-time">
                                            دیروز
                                        </span>
                                        <span class="message-subject">
                                            Bing Newsletter: The January Issue‏
                                        </span>
                                        <span class="message-body">
                                            Discover new music just in time for the Grammy® Awards.
                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/Admin/img/avatars/adam-jansen.jpg" class="message-avatar" alt="Divyia Austin">
                                    <div class="message">
                                        <span class="message-sender">
                                            Nicolas
                                        </span>
                                        <span class="message-time">
                                            Friday, September 22
                                        </span>
                                        <span class="message-subject">
                                            دوربین های 4کی جدید
                                        </span>
                                        <span class="message-body">
                                            انقلاب دوربین های 4کی به مرحله جدیدی رسیده است.
                                        </span>
                                    </div>
                                </a>
                            </li>
                        </ul>-->
                        <!--/Messages Dropdown-->
                        <!--</li>

                        <li>
                            <a class="dropdown-toggle" data-toggle="dropdown" title="Tasks" href="#">
                                <i class="icon fa fa-tasks"></i>
                                <span class="badge">4</span>
                            </a>-->
                        <!--Tasks Dropdown-->
                        <!--<ul class="pull-right dropdown-menu dropdown-tasks dropdown-arrow ">
                            <li class="dropdown-header bordered-darkorange">
                                <i class="fa fa-tasks"></i>
                                4 وظیفه در حال انجام
                            </li>

                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <span class="pull-right">ایجاد حساب</span>
                                        <span class="pull-left">65%</span>
                                    </div>

                                    <div class="progress progress-xs">
                                        <div style="width:65%" class="progress-bar"></div>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <span class="pull-right">تکمیل پروفایل</span>
                                        <span class="pull-left">35%</span>
                                    </div>

                                    <div class="progress progress-xs">
                                        <div style="width:35%" class="progress-bar progress-bar-success"></div>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <span class="pull-right">تکمیل رزومه</span>
                                        <span class="pull-left">75%</span>
                                    </div>

                                    <div class="progress progress-xs">
                                        <div style="width:75%" class="progress-bar progress-bar-darkorange"></div>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <div class="clearfix">
                                        <span class="pull-left">افزودن دوستان</span>
                                        <span class="pull-right">10%</span>
                                    </div>

                                    <div class="progress progress-xs">
                                        <div style="width:10%" class="progress-bar progress-bar-warning"></div>
                                    </div>
                                </a>
                            </li>

                            <li class="dropdown-footer">
                                <a href="#">
                                    مشاهده همه وظایف
                                </a>
                                <button class="btn btn-xs btn-default shiny darkorange icon-only pull-left"><i class="fa fa-check"></i></button>
                            </li>
                        </ul>-->
                        <!--/Tasks Dropdown-->
                        <!--</li>
                        <li>
                            <a class="wave in" id="chat-link" title="Chat" href="#">
                                <i class="icon glyphicon glyphicon-comment"></i>
                            </a>
                        </li>
                        <li>
                            <a class="login-area dropdown-toggle" data-toggle="dropdown">
                                <div class="avatar" title="View your public profile">
                                    <img src="/Admin/img/avatars/adam-jansen.jpg">
                                </div>
                                <section>
                                    <h2><span class="profile"><span>دیوید استیونسون </span></span></h2>
                                </section>
                            </a>-->
                        <!--Login Area Dropdown-->
                        <!--<ul class="pull-right dropdown-menu dropdown-arrow dropdown-login-area">
                            <li class="username"><a>دیوید استیونسون</a></li>
                            <li class="email"><a>David.Stevenson@live.com</a></li>-->
                        <!--Avatar Area-->
                        <!--<li>
                            <div class="avatar-area">
                                <img src="/Admin/img/avatars/adam-jansen.jpg" class="avatar">
                                <span class="caption">تغییر تصویر</span>
                            </div>
                        </li>-->
                        <!--Avatar Area-->
                        <!--<li class="edit">
                            <a href="profile.html" class="pull-left">پروفایل</a>
                            <a href="#" class="pull-right">تنظیمات</a>
                        </li>-->
                        <!--Theme Selector Area-->
                        <!--<li class="theme-area">
                            <ul class="colorpicker" id="skin-changer">
                                <li><a class="colorpick-btn" href="#" style="background-color:#5DB2FF;" rel="/Admincss/skins/blue.min.css"></a></li>
                                <li><a class="colorpick-btn" href="#" style="background-color:#2dc3e8;" rel="/Admincss/skins/azure.min.css"></a></li>
                                <li><a class="colorpick-btn" href="#" style="background-color:#03B3B2;" rel="/Admincss/skins/teal.min.css"></a></li>
                                <li><a class="colorpick-btn" href="#" style="background-color:#53a93f;" rel="/Admincss/skins/green.min.css"></a></li>
                                <li><a class="colorpick-btn" href="#" style="background-color:#FF8F32;" rel="/Admincss/skins/orange.min.css"></a></li>
                                <li><a class="colorpick-btn" href="#" style="background-color:#cc324b;" rel="/Admincss/skins/pink.min.css"></a></li>
                                <li><a class="colorpick-btn" href="#" style="background-color:#AC193D;" rel="/Admincss/skins/darkred.min.css"></a></li>
                                <li><a class="colorpick-btn" href="#" style="background-color:#8C0095;" rel="/Admincss/skins/purple.min.css"></a></li>
                                <li><a class="colorpick-btn" href="#" style="background-color:#0072C6;" rel="/Admincss/skins/darkblue.min.css"></a></li>
                                <li><a class="colorpick-btn" href="#" style="background-color:#585858;" rel="/Admincss/skins/gray.min.css"></a></li>
                                <li><a class="colorpick-btn" href="#" style="background-color:#474544;" rel="/Admincss/skins/black.min.css"></a></li>
                                <li><a class="colorpick-btn" href="#" style="background-color:#001940;" rel="/Admincss/skins/deepblue.min.css"></a></li>
                            </ul>
                        </li>-->
                        <!--/Theme Selector Area-->
                        <!--<li class="dropdown-footer">
                                <a href="login.html">
                                    خروج از سیستم
                                </a>
                            </li>
                        </ul>-->
                        <!--/Login Area Dropdown-->
                        <!--</li>-->
                        <!-- /Account Area -->
                        <!--Note: notice that setting div must start right after account area list.
                        no space must be between these elements-->
                        <!-- Settings -->
                        <!--</ul>--><div class="setting">
                            <a id="btn-setting" title="Setting" href="#">
                                <i class="icon glyphicon glyphicon-cog"></i>
                            </a>
                        </div><div class="setting-container">
                            <label>
                                <input type="checkbox" id="checkbox_fixednavbar">
                                <span class="text">نوار بالایی ثابت</span>
                            </label>
                            <label>
                                <input type="checkbox" id="checkbox_fixedsidebar">
                                <span class="text">منوی کناری ثابت</span>
                            </label>
                            <label>
                                <input type="checkbox" id="checkbox_fixedbreadcrumbs">
                                <span class="text">نوار بردکرامبز ثابت</span>
                            </label>
                            <label>
                                <input type="checkbox" id="checkbox_fixedheader">
                                <span class="text">نوار میانی ثابت</span>
                            </label>
                        </div>
                        <!-- Settings -->
                    </div>
                </div>
                <!-- /Account Area and Settings -->
            </div>
        </div>
    </div>
    <!-- /Navbar -->
    <!-- Main Container -->
    <div class="main-container container-fluid">
        <!-- Page Container -->
        <div class="page-container">
            <!-- Page Sidebar -->
            <partial name="_AdminSideBar" />
            <!-- /Page Sidebar -->
            <!-- Chat Bar -->
            <div id="chatbar" class="page-chatbar">
                <div class="chatbar-contacts">
                    <div class="contacts-search">
                        <input type="text" class="searchinput" placeholder="Search Contacts" />
                        <i class="searchicon fa fa-search"></i>
                        <div class="searchhelper">Search Your Contacts and Chat History</div>
                    </div>
                    <ul class="contacts-list">
                        <li class="contact">
                            <div class="contact-avatar">
                                <img src="/Admin/img/avatars/divyia.jpg" />
                            </div>
                            <div class="contact-info">
                                <div class="contact-name">Divyia Philips</div>
                                <div class="contact-status">
                                    <div class="online"></div>
                                    <div class="status">online</div>
                                </div>
                                <div class="last-chat-time">
                                    last week
                                </div>
                            </div>
                        </li>
                        <li class="contact">
                            <div class="contact-avatar">
                                <img src="/Admin/img/avatars/Nicolai-Larson.jpg" />
                            </div>
                            <div class="contact-info">
                                <div class="contact-name">Adam Johnson</div>
                                <div class="contact-status">
                                    <div class="offline"></div>
                                    <div class="status">left 4 mins ago</div>
                                </div>
                                <div class="last-chat-time">
                                    today
                                </div>
                            </div>
                        </li>
                        <li class="contact">
                            <div class="contact-avatar">
                                <img src="/Admin/img/avatars/John-Smith.jpg" />
                            </div>
                            <div class="contact-info">
                                <div class="contact-name">John Smith</div>
                                <div class="contact-status">
                                    <div class="online"></div>
                                    <div class="status">online</div>
                                </div>
                                <div class="last-chat-time">
                                    1:57 am
                                </div>
                            </div>
                        </li>
                        <li class="contact">
                            <div class="contact-avatar">
                                <img src="/Admin/img/avatars/Osvaldus-Valutis.jpg" />
                            </div>
                            <div class="contact-info">
                                <div class="contact-name">Osvaldus Valutis</div>
                                <div class="contact-status">
                                    <div class="online"></div>
                                    <div class="status">online</div>
                                </div>
                                <div class="last-chat-time">
                                    today
                                </div>
                            </div>
                        </li>
                        <li class="contact">
                            <div class="contact-avatar">
                                <img src="/Admin/img/avatars/Javi-Jimenez.jpg" />
                            </div>
                            <div class="contact-info">
                                <div class="contact-name">Javi Jimenez</div>
                                <div class="contact-status">
                                    <div class="online"></div>
                                    <div class="status">online</div>
                                </div>
                                <div class="last-chat-time">
                                    today
                                </div>
                            </div>
                        </li>
                        <li class="contact">
                            <div class="contact-avatar">
                                <img src="/Admin/img/avatars/Stephanie-Walter.jpg" />
                            </div>
                            <div class="contact-info">
                                <div class="contact-name">Stephanie Walter</div>
                                <div class="contact-status">
                                    <div class="online"></div>
                                    <div class="status">online</div>
                                </div>
                                <div class="last-chat-time">
                                    yesterday
                                </div>
                            </div>
                        </li>
                        <li class="contact">
                            <div class="contact-avatar">
                                <img src="/Admin/img/avatars/Sergey-Azovskiy.jpg" />
                            </div>
                            <div class="contact-info">
                                <div class="contact-name">Sergey Azovskiy</div>
                                <div class="contact-status">
                                    <div class="offline"></div>
                                    <div class="status">offline since oct 24</div>
                                </div>
                                <div class="last-chat-time">
                                    22 oct
                                </div>
                            </div>
                        </li>
                        <li class="contact">
                            <div class="contact-avatar">
                                <img src="/Admin/img/avatars/Lee-Munroe.jpg" />
                            </div>
                            <div class="contact-info">
                                <div class="contact-name">Lee Munroe</div>
                                <div class="contact-status">
                                    <div class="online"></div>
                                    <div class="status">online</div>
                                </div>
                                <div class="last-chat-time">
                                    today
                                </div>
                            </div>
                        </li>
                        <li class="contact">
                            <div class="contact-avatar">
                                <img src="/Admin/img/avatars/divyia.jpg" />
                            </div>
                            <div class="contact-info">
                                <div class="contact-name">Divyia Philips</div>
                                <div class="contact-status">
                                    <div class="online"></div>
                                    <div class="status">online</div>
                                </div>
                                <div class="last-chat-time">
                                    last week
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="chatbar-messages" style="display: none;">
                    <div class="messages-contact">
                        <div class="contact-avatar">
                            <img src="/Admin/img/avatars/divyia.jpg" />
                        </div>
                        <div class="contact-info">
                            <div class="contact-name">Divyia Philips</div>
                            <div class="contact-status">
                                <div class="online"></div>
                                <div class="status">online</div>
                            </div>
                            <div class="last-chat-time">
                                a moment ago
                            </div>
                            <div class="back">
                                <i class="fa fa-arrow-circle-left"></i>
                            </div>
                        </div>
                    </div>
                    <ul class="messages-list">
                        <li class="message">
                            <div class="message-info">
                                <div class="bullet"></div>
                                <div class="contact-name">Me</div>
                                <div class="message-time">10:14 AM, Today</div>
                            </div>
                            <div class="message-body">
                                Hi, Hope all is good. Are we meeting today?
                            </div>
                        </li>
                        <li class="message reply">
                            <div class="message-info">
                                <div class="bullet"></div>
                                <div class="contact-name">Divyia</div>
                                <div class="message-time">10:15 AM, Today</div>
                            </div>
                            <div class="message-body">
                                Hi, Hope all is good. Are we meeting today?
                            </div>
                        </li>
                        <li class="message">
                            <div class="message-info">
                                <div class="bullet"></div>
                                <div class="contact-name">Me</div>
                                <div class="message-time">10:14 AM, Today</div>
                            </div>
                            <div class="message-body">
                                Hi, Hope all is good. Are we meeting today?
                            </div>
                        </li>
                        <li class="message reply">
                            <div class="message-info">
                                <div class="bullet"></div>
                                <div class="contact-name">Divyia</div>
                                <div class="message-time">10:15 AM, Today</div>
                            </div>
                            <div class="message-body">
                                Hi, Hope all is good. Are we meeting today?
                            </div>
                        </li>
                        <li class="message">
                            <div class="message-info">
                                <div class="bullet"></div>
                                <div class="contact-name">Me</div>
                                <div class="message-time">10:14 AM, Today</div>
                            </div>
                            <div class="message-body">
                                Hi, Hope all is good. Are we meeting today?
                            </div>
                        </li>
                        <li class="message reply">
                            <div class="message-info">
                                <div class="bullet"></div>
                                <div class="contact-name">Divyia</div>
                                <div class="message-time">10:15 AM, Today</div>
                            </div>
                            <div class="message-body">
                                Hi, Hope all is good. Are we meeting today?
                            </div>
                        </li>
                    </ul>
                    <div class="send-message">
                        <span class="input-icon icon-right">
                            <textarea rows="4" class="form-control" placeholder="Type your message"></textarea>
                            <i class="fa fa-camera themeprimary"></i>
                        </span>
                    </div>
                </div>
            </div>
            <!-- /Chat Bar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a asp-area="Admin" asp-controller="Home" asp-action="Index">خانه</a>
                        </li>
                        <li class="active">@ViewData["Title"]</li>
                    </ul>
                </div>
                <!-- /Page Breadcrumb -->
                <!-- Page Header -->
                <div class="page-header position-relative">
                    <div class="header-title">
                        <h1>
                            داشبورد
                        </h1>
                    </div>
                    <!--Header Buttons-->
                    <div class="header-buttons">
                        <a class="sidebar-toggler" href="#">
                            <i class="fa fa-arrows-h"></i>
                        </a>
                        <a class="refresh" id="refresh-toggler" href="">
                            <i class="glyphicon glyphicon-refresh"></i>
                        </a>
                        <a class="fullscreen" id="fullscreen-toggler" href="#">
                            <i class="glyphicon glyphicon-fullscreen"></i>
                        </a>
                    </div>
                    <!--Header Buttons End-->
                </div>
                <!-- /Page Header -->
                <!-- Page Body -->
                @RenderBody()
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
        </div>
        <!-- /Page Container -->
        <!-- Main Container -->

    </div>

    <partial name="_AdminScript" />
    @RenderSection("Scripts", false)
</body>
<!--  /Body -->
</html>
